<nav aria-label="breadcrumb">
					<ol class="breadcrumb" style="margin: 0">
						<%= breadcrumb :home %> <%= breadcrumb :customers %> <%= breadcrumb :edit_customer %>
					</ol>
</nav>
<div class="d-grid place-items-center h-75">
	<%= form_with(model: @customer) do |f| %>
	<div class="container">
	<div class="profile-content" style="box-shadow: 0px 0px 10px #000000;">
		<form class="col mb-3">
			<div class="form-group row">
				<br />
				<%= f.label :first_name, class:"form-label", autofocus: true %><br />
				<%= f.text_field :first_name, class:"form-control", id:"inputEmail4", value:@user.first_name %>
			</div>

			<div class="form-group row">
				<%= f.label :last_name, class:"form-label" %><br />
				<%= f.text_field :last_name, class:"form-control", id:"inputPassword4", value:@user.last_name %>
			</div>

			<div class="form-group row">
				<%= f.label :phone, class:"form-label" %><br />
				<%= f.text_field :phone, class:"form-control", id:"inputAddress", value:@user.phone %>
			</div>

			<div class="form-group row">
				<%= f.label :username, class:"form-label" %><br />
				<%= f.text_field :username, class:"form-control", id:"inputAddress2", value:@user.username %>
			</div>

			<div class="form-group row">
				<%= f.label :company_info, class:"form-label" %><br />
				<%= f.text_area :company_info, class:"form-control", id:"inputCity", value:@user.company_info %>
			</div>

			<div class="form-group row">
				<%= f.label :email, class:"form-label" %><br />
				<%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control", id:"inputZip", value:@user.email %>
			</div>

			<div class="container text-center">
				<%= f.submit "Güncelle", class:"btn btn-primary " %> <%= link_to "Geri", :back, class:"btn btn-primary " %>
			</div>
		</form>

		<% end %>
	</div>
</div>
</div>
