<nav aria-label="breadcrumb">
					<ol class="breadcrumb" style="margin: 0">
						<%= breadcrumb :home %> <%= breadcrumb :customers %> <%= breadcrumb :new_report %> <%= breadcrumb :edit_report %>
					</ol>
</nav>


<div class="container py-5">
  
    
      <div class="profile-content">
      
        <%= render "form", report: @report %>

        

        <div class="d-grid gap-2 col-3 mx-auto mt-3">
          <%= button_to "Raporu Görüntüle", @report, method: :get, class:"btn btn-primary mb-2" %>
          <%= button_to "Raporlara Geri Dön", reports_path, method: :get, class:"btn btn-primary mb-2" %>
        </div>

      </div>
    
  
</div>
