<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <%= breadcrumb :home %> <%= breadcrumb :customers %> <%= breadcrumb :new_report %>
  </ol>
</nav>

<div class="container bg-light mt-5">
  <div class="row justify-content-center">
    <div class="col-md-10">
      <div class="card shadow-md" style="background-image: linear-gradient(0deg, #0b1e40, #1a4896);">
      
        <div class="card-body">
          <h2 class="text-center text-light mb-4">Yeni Rapor Oluştur</h2>
          <%= form_with(model: @report, url: reports_path, local: true) do |form| %>
            <div class="mb-3">
              <%= form.label :title, class: "form-label text-light" %>
              <%= form.text_field :title, class: "form-control", placeholder: "Rapor Başlığı" %>
            </div>
            <div class="mb-3">
              <%= form.label :description, class: "form-label text-light" %>
              <%= form.text_area :description, class: "form-control", placeholder: "Rapor Açıklaması" %>
            </div>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end mt-3">
              <%= form.submit "Kaydet", class:"btn btn-primary" %>
            </div>
          <% end %>
        </div>
      </div>
      <div class="d-grid gap-2 d-md-flex justify-content-md-end mt-3">
        <%= button_to "Raporlara Geri Dön", reports_path, method: :get, class:"btn btn-primary" %>
      </div>
    </div>
  </div>
</div>

