<nav aria-label="breadcrumb">
					<ol class="breadcrumb" style="margin: 0">
						<%= breadcrumb :home %> <%= breadcrumb :customers %> <%= breadcrumb :new_report %>
					</ol>
</nav>
<div class="p-5 h-100" style="background-color: RGBA(	211,211,211, 0.3)">
    <%= render "form", report: @report %>

    <br>
    <div class="d-grid col-md-2 mx-auto">
 
        <td><%= button_to "Raporlara Geri Dön", reports_path, method: :get, class:"btn btn-light" %></td>
        

    </div>
</div>
