<div>
  <p>
    Full name : <%= current_user.full_name %>
  </p>
  <p>Phone: <%= current_user.phone %></p>
  <p>Company Info: <%= current_user.company_info %></p>
  <p>Email: <%= current_user.email %></p>
  <p>Username: <%= current_user.username %></p>
</div>
